const btn = document.getElementById("startBtn");
const content = document.getElementById("content");

btn.onclick = function () {
    content.style.display = "block";
    btn.style.display = "none";
};
.hidden{
    display:none;
}

.show{
    display:block;
    animation:fadeIn 1s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
